
\.idea/

CParts\.Domain\.Core/\.DS_Store

\.DS_Store

CParts\.Domain\.Abstractions/obj/

CParts\.Domain\.Core/obj/

CParts\.Infrastructure\.Business/obj/

CParts\.Infrastructure\.Data/obj/

CParts\.Services\.Abstractions/obj/

CParts\.Web/obj/

CParts\.BootStrapper/obj/

CParts\.BootStrapper/bin/

CParts\.Domain\.Abstractions/bin/

CParts\.Domain\.Core/bin/

CParts\.Framework/bin/

CParts\.Framework/obj/

CParts\.Infrastructure\.Business/bin/

CParts\.Infrastructure\.Data/bin/

CParts\.Services\.Abstractions/bin/

CParts\.Web/bin/

CParts\.Business\.Abstractions/bin/

CParts\.Business\.Abstractions/obj/

CParts\.Infrastructure\.Services/bin/

CParts\.Infrastructure\.Services/obj/
