
\.idea/

CParts\.Domain\.Core/\.DS_Store

\.DS_Store

CParts\.Domain\.Abstractions/obj/

CParts\.Domain\.Core/obj/

CParts\.Infrastructure\.Business/obj/

CParts\.Infrastructure\.Data/obj/

CParts\.Services\.Abstractions/obj/

CParts\.Web/obj/
